.Topimg {
  background-image: url("../assets/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: 100% 15%;
  text-align: center;
}

@media (max-width: 1028px) {
  .Topimg {
    background-image: url("../assets/bg-header-mobile.png");
    background-repeat: no-repeat;
    background-size: 100% 15%;
  }
}
