h3 {
  font-size: 25px;
}
.Desktop {
  margin: 100px 30px;
}

.Grid {
  text-align: left;
}

.Img {
  position: relative;
  margin: 25px auto;
  left: -50px;
  width: 100%;
}

@media (max-width: 1028px) {
  .Grid {
    text-align: center;
  }
  .Img {
    position: static;
    width: 100%;
  }
}
