.Color {
  color: black;
  cursor: pointer;
  font-size: 16px;
  padding: 0px;
}
.Color:hover {
  color: hsl(171, 66%, 44%);
}
.Footer {
  background-color: hsl(0, 0%, 89%);
  padding: 25px 25px 20px;
  text-align: left;
}
.Img {
  width: 65px;
}
.Img2 {
  padding: 10px;
}

.Img2:hover {
  fill: blue;
}

@media (max-width: 1028px) {
  .Footer {
    background-color: hsl(0, 0%, 89%);
    padding: 25px 25px 20px;
    text-align: center;
  }
}
